/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/walkercreek Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Strict-syntax-compatible base config.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { 1 * task.attempt }
    memory = { 12.GB * task.attempt }
    time   = { 4.h * task.attempt }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 1
    maxErrors = '-1'

    withLabel:process_single {
        cpus   = 2
        memory = { 6.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withLabel:process_low {
        cpus   = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 72.h * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 16 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 72.h * task.attempt }
    }

    withLabel:process_high {
        cpus   = { 48 * task.attempt }
        memory = { 503.GB * task.attempt }
        time   = { 72.h * task.attempt }
    }

    withLabel:process_long {
        time = { 120.h * task.attempt }
    }

    withLabel:process_high_memory {
        memory = { 503.GB * task.attempt }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }

    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'NCBI_SRA_HUMAN_SCRUBBER|IRMA|KRAKEN2_KRAKEN2|UNTAR' {
        cpus   = { 48 * task.attempt }
        memory = { 503.GB * task.attempt }
    }

    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }
}
