/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'CAT_NANOPORE_FASTQ' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/cat_nanopore_fastq/" },
            pattern: "*"
        ]
    }
    withName: 'READ_COUNT_FAIL_TSV' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/read_count_fail_tsv/" },
            pattern: "*"
        ]
    }
    withName: 'READ_COUNT_PASS_TSV' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/read_count_pass_tsv/" },
            pattern: "*"
        ]
    }
    withName: 'NANOPLOT_RAW' {
        ext.prefix = 'raw'
        ext.args   = {
            [
                "-p raw_",
                "--title ${meta.id}_raw",
                "-c darkblue"
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/QC_longreads/NanoPlot/${meta.id}" },
            mode: "${params.publish_dir_mode}",
            pattern: "*.{png,html,txt}"
        ]
    }
    withName: 'NANOPLOT_FILTERED' {
        ext.args   = {
            [
                "-p filtered_",
                "--title ${meta.id}_filtered",
                "-c darkblue"
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/QC_longreads/NanoPlot/${meta.id}" },
            mode: "${params.publish_dir_mode}",
            pattern: "*.{png,html,txt}"
        ]
    }
    withName: 'NANO_REPORT_RAW' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/nano_report_raw/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'NANO_REPORT_FILT' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/nano_report_filt/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'NANO_REPORTSHEET_RAW' {
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/nano_report_raw/" },
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'NANO_REPORTSHEET_FILT' {
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/nano_report_filt/" },
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'FASTQC' {
        ext.args         = '--quiet'
        ext.when         = {  }
        ext.prefix       = { "${meta.id}.raw" }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/fastqc/${meta.id}" },
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PORECHOP_PORECHOP' {
        publishDir = [
            path: { "${params.outdir}/QC_longreads/porechop" },
            mode: "${params.publish_dir_mode}",
            pattern: "*_porechop_trimmed.fastq.gz",
            enabled: params.save_porechop_reads
        ]
        ext.prefix = { "${meta.id}_run${meta.run}_porechop_trimmed" }
    }
    withName: 'PORECHOP_ABI' {
        publishDir = [
            path: { "${params.outdir}/QC_longreads/porechop" },
            mode: "${params.publish_dir_mode}",
            pattern: "*_porechop-abi_trimmed.fastq.gz",
            enabled: params.save_porechop_reads
        ]
        ext.prefix = { "${meta.id}_run${meta.run}_porechop-abi_trimmed" }
    }
    withName: 'FILTLONG' {
        ext.args    = { "" }
        ext.when    = {  }
        publishDir  = [
            path: { "${params.outdir}/QC_longreads/Filtlong" },
            mode: params.publish_dir_mode,
            pattern: "*_filtlong.fastq.gz",
            enabled: params.save_filtlong_reads
        ]
        ext.prefix = { "${meta.id}_run${meta.run}_filtlong" }
    }
    withName: 'ALIGN_TO_REFS_NANOPORE' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/align_to_refs_nanopore/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_VARIANTS_H1N1' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_variants_h1n1/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_VARIANTS_H3N2' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_variants_h3n2/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_VARIANTS_H5NX' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_variants_h5nx/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_VARIANTS_B_VIC' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_variants_b_vic/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_DEMIX_H1N1' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_demix/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_DEMIX_H3N2' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_demix/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_DEMIX_H5NX' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_demix/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_DEMIX_B_VIC' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_demix/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_BOOT_H1N1' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_boot_h1n1/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_BOOT_H3N2' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_boot_h3n2/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_BOOT_H5NX' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_boot_h5nx/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_BOOT_B_VIC' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_boot_b_vic/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_AGGREGATE_REPORT' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/reports/" },
            pattern: "*"
        ]
    }
}
