/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'SRATOOLS_PREFETCH' {
        publishDir = [
            path: { "${params.outdir}/sra" },
            enabled: false
        ]
    }
    withName: 'SRATOOLS_FASTERQDUMP' {
        publishDir = [
            [
            path: { "${params.outdir}/fastq" },
            mode: 'copy',
            pattern: "*gz"
            ],
            [
            path: { "${params.outdir}/fastq/md5" },
            mode: 'copy',
            pattern: "*.md5"
            ]
        ]
    }
    withName: 'FASTQC' {
        ext.args         = '--quiet'
        ext.when         = {  }
        ext.prefix       = { "${meta.id}.raw" }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/fastqc/${meta.id}" },
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SEQKIT_PAIR' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: "${params.save_debug}",
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/seqkit_pair/${meta.id}" },
            pattern: "*.fastq.gz"
        ]
    }
    withName: 'FAQCS' {
        ext.args   = '--min_L 50 --avg_q 30 --debug'
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/faqcs/${meta.id}" },
            pattern: "*.{fastq.gz,txt,pdf}"
        ]
    }
    withName: 'QC_REPORT' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/qc_report/${meta.id}" },
            pattern: "*.{txt}"
        ]
    }
    withName: 'QC_REPORTSHEET' {
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/reports" },
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'NCBI_SRA_HUMAN_SCRUBBER' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/ncbi_sra_human_read_scrubber/${meta.id}" },
            pattern: "*.{fastq.gz,TOTAL_SPOTS_REMOVED.txt}"
        ]
    }
    withName: 'BBMAP_BBDUK' {
        ext.args   = 'ktrim=r k=23 mink=11 hdist=1 tpe tbo ordered=t'
        ext.args2  = 'k=31 hdist=1 ordered=t'
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/bbduk/${meta.id}" },
            pattern: "*.{fastq.gz,tsv}"
        ]
    }
    withName: 'ALIGN_TO_REFS' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/align_to_refs/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_VARIANTS_H1N1' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_variants_h1n1/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_VARIANTS_H3N2' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_variants_h3n2/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_VARIANTS_H5NX' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_variants_h5nx/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_VARIANTS_B_VIC' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_variants_b_vic/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_DEMIX_H1N1' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_demix/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_DEMIX_H3N2' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_demix/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_DEMIX_H5NX' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_demix/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_DEMIX_B_VIC' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_demix/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_BOOT_H1N1' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_boot_h1n1/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_BOOT_H3N2' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_boot_h3n2/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_BOOT_H5NX' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_boot_h5nx/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_BOOT_B_VIC' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/freyja_boot_b_vic/" },
            pattern: "*"
        ]
    }
    withName: 'FREYJA_AGGREGATE_REPORT' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/reports/" },
            pattern: "*"
        ]
    }
    withName: 'KRAKEN2_KRAKEN2' {
        ext.args   = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/kraken2/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'KRAKEN2REPORT_FLUWW_SUMMARY' {
        ext.args   = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/kraken2/${meta.id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*"
        ]
    }
}
