/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'SRATOOLS_PREFETCH' {
        publishDir = [
            path: { "${params.outdir}/sra" },
            enabled: false
        ]
    }
    withName: 'SRATOOLS_FASTERQDUMP' {
        publishDir = [
            [
            path: { "${params.outdir}/fastq" },
            mode: 'copy',
            pattern: "*gz"
            ],
            [
            path: { "${params.outdir}/fastq/md5" },
            mode: 'copy',
            pattern: "*.md5"
            ]
        ]
    }
    withName: 'FASTQC' {
        ext.args         = '--quiet'
        ext.when         = {  }
        ext.prefix       = { "${meta.id}.raw" }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/fastqc/${meta.id}" },
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SEQKIT_PAIR' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: "${params.save_debug}",
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/seqkit_pair/${meta.id}" },
            pattern: "*.fastq.gz"
        ]
    }
    withName: 'FAQCS' {
        ext.args   = '--min_L 50 --avg_q 30 --debug'
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/faqcs/${meta.id}" },
            pattern: "*.{fastq.gz,txt,pdf}"
        ]
    }
    withName: 'QC_REPORT' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/qc_report/${meta.id}" },
            pattern: "*.{txt}"
        ]
    }
    withName: 'QC_REPORTSHEET' {
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/reports" },
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'NCBI_SRA_HUMAN_SCRUBBER' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/ncbi_sra_human_read_scrubber/${meta.id}" },
            pattern: "*.{fastq.gz,TOTAL_SPOTS_REMOVED.txt}"
        ]
    }
    withName: 'IRMA' {
        ext.args          = { "" }
        ext.when          = {  }
        publishDir        = [
            [
                mode: "${params.publish_dir_mode}",
                path: { "${params.outdir}/irma"},
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                enabled: true,
                mode: "${params.publish_dir_mode}",
                path: { "${params.outdir}/consensus" },
                pattern: "*.irma.consensus.fasta"
            ],
            [
                enabled: true,
                mode: "${params.publish_dir_mode}",
                path: { "${params.outdir}/hemagglutinin" },
                pattern: "*_HA.fasta"
            ],
            [
                enabled: true,
                mode: "${params.publish_dir_mode}",
                path: { "${params.outdir}/neuraminidase" },
                pattern: "*_NA.fasta"
            ]
        ]
    }
    withName: 'IRMA_CONSENSUS_QC' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/irma_consensus_qc/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'IRMA_CONSENSUS_QC_REPORTSHEET' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/reports/" },
            pattern: "*"
        ]
    }
    withName: 'VADR' {
        ext.args   = '--minlen 60'
        ext.args2  = '--split --cpu 8 -r --atgonly --xnocomp --nomisc --alt_fail extrant5,extrant3 --mkey flu'
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/vadr"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'ABRICATE_FLU' {
        ext.args = '--db insaflu --minid 70 --mincov 60'
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/abricate_flu/${meta.id}" },
            pattern: "*.{txt,tsv}"
        ]
    }
    withName: 'BBMAP_BBDUK' {
        ext.args   = 'ktrim=r k=23 mink=11 hdist=1 tpe tbo ordered=t'
        ext.args2  = 'k=31 hdist=1 ordered=t'
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/bbduk/${meta.id}" },
            pattern: "*.{fastq.gz,tsv}"
        ]
    }
    withName: 'NEXTCLADE_VARIABLES' {
        ext.args    = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/nextclade_variables/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'NEXTCLADE_DATASETGET' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/nextclade_datasetget/" },
            pattern: "*"
        ]
    }
    withName: 'NEXTCLADE_RUN' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/nextclade_run/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'NEXTCLADE_PARSER' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/nextclade_parser/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'KRAKEN2_KRAKEN2' {
        ext.args   = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/kraken2/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'KRAKEN2REPORT_SUMMARY' {
        ext.args   = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/kraken2/${meta.id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*"
        ]
    }
    withName: 'KRAKEN2_REPORTSHEET' {
        ext.args   = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/reports" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*"
        ]
    }
    withName: 'IRMA_ABRICATE_REPORT' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/irma_abricate_report/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'IRMA_ABRICATE_REPORTSHEET' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/reports/" },
            pattern: "*"
        ]
    }
    withName: 'NEXTCLADE_REPORT' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/reports/" },
            pattern: "*"
        ]
    }
    withName: 'IRMA_SEGMENT_COVERAGE' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/irma_segment_coverage/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'MERGE_COVERAGE_RESULTS' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/irma_segment_coverage/" },
            pattern: "*"
        ]
    }
    withName: 'SAMTOOLS_MAPPED_READS' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/samtools_mapped_reads/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'SNPEFF_BUILD' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: false,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/snpeff_build" },
            pattern: "*"
        ]
    }
    withName: 'SNPEFF_ANN' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/snpeff_ann/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'COMBINE_SNPSIFT_REPORTS' {
        ext.args   = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/reports" },
            pattern: "*"
        ]
    }
    withName: 'TABIX_BGZIP' {
        ext.prefix = { "${meta.id}.snpeff" }
        ext.args   = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: false,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/tabix/bgzip" },
            pattern: "*"
        ]
    }
    withName: 'TABIX_TABIX' {
        ext.args = '-p vcf -f'
        ext.when   = {  }
        publishDir = [
            enabled: false,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/tabix/tabix" },
            pattern: "*"
        ]
    }
    withName: 'BCFTOOLS_STATS' {
        ext.prefix = { "${meta.id}.snpeff" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/bcftools_stats" },
            pattern: "*"
        ]
    }
    withName: 'SNPSIFT_EXTRACTFIELDS' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: false,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/snpeff_extractfields/${meta.id}" },
            pattern: "*"
        ]
    }
    withName: 'MERGE_BAM_RESULTS' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/samtools_mapped_reads/" },
            pattern: "*"
        ]
    }
    withName: 'MERGE_BAM_COVERAGE_RESULTS' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/reports" },
            pattern: "*"
        ]
    }
    withName: 'COMBINED_SUMMARY_REPORT' {
        ext.args   = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/SUMMARY_REPORT" },
            pattern: "*"
        ]
    }
    withName: 'SUMMARY_REPORT' {
        ext.args   = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/SUMMARY_REPORT" },
            pattern: "*"
        ]
    }
}
