/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "${params.publish_dir_mode}",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SRATOOLS_PREFETCH {
        publishDir = [
            path: { "${params.outdir}/sra" },
            enabled: false
        ]
    }
    withName: SRATOOLS_FASTERQDUMP {
        publishDir = [
            [
            path: { "${params.outdir}/fastq" },
            mode: 'copy',
            pattern: "*gz"
            ],
            [
            path: { "${params.outdir}/fastq/md5" },
            mode: 'copy',
            pattern: "*.md5"
            ]
        ]
    }
    withName: 'FASTQC' {
        ext.args         = '--quiet'
        ext.when         = {  }
        ext.prefix       = { "${meta.id}.raw" }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/fastqc/${meta.id}" },
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SEQKIT_PAIR' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: "${params.save_debug}",
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/seqkit_pair/${meta.id}" },
            pattern: "*.fastq.gz"
        ]
    }
    withName: 'FAQCS' {
        ext.args   = '--min_L 75 --avg_q 30 --debug'
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/faqcs/${meta.id}" },
            pattern: "*.{fastq.gz,txt,pdf}"
        ]
    }
    withName: 'QC_REPORT' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/qc/qc_report/${meta.id}" },
            pattern: "*.{txt}"
        ]
    }
    withName: 'QC_REPORTSHEET' {
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/qc/qc_report" },
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'NCBI_SRA_HUMAN_SCRUBBER' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/ncbi_sra_human_read_scrubber/${meta.id}" },
            pattern: "*.{fastq.gz,TOTAL_SPOTS_REMOVED.txt}"
        ]
    }
    withName: 'IRMA' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            [
                mode: "${params.publish_dir_mode}",
                path: { "${params.outdir}/irma"}
            ],
            [
                enabled: true,
                mode: "${params.publish_dir_mode}",
                path: { "${params.outdir}/consensus/${meta.id}" },
                pattern: "*.{fasta}"
            ]
        ]
    }
    withName: ABRICATE_FLU {
        publishDir = [
            path: { "${params.outdir}/abricate_flu/${meta.id}" },
            mode: "${params.publish_dir_mode}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args =  [
            "--db ${params.abricate_db}",
            "--minid ${params.abricate_minid}",
            "--mincov ${params.abricate_mincov}"
        ].join(' ').trim()
    }
    withName: BBMAP_BBDUK {
        ext.args   = 'ktrim=r k=23 mink=11 hdist=1 tpe tbo ordered=t'
        ext.args2  = 'k=31 hdist=1 ordered=t'
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/bbduk/${meta.id}" },
            pattern: "*.{fastq.gz,tsv}"
        ]
    }
    withName: KRAKEN2_KRAKEN2 {
        ext.args   = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/kraken2/${meta.id}" },
            pattern: "*.{txt}"
        ]
    }
    withName: KRAKEN2REPORT_SUMMARY {
        ext.args   = { "" }
        ext.when   = {  }
        publishDir = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/kraken2/${meta.id}/report_summary" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.{csv,tsv}"
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}
