/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "${params.publish_dir_mode}",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SRATOOLS_PREFETCH {
        publishDir = [
            path: { "${params.outdir}/sra" },
            enabled: false
        ]
    }
    withName: SRATOOLS_FASTERQDUMP {
        publishDir = [
            [
            path: { "${params.outdir}/fastq" },
            mode: 'copy',
            pattern: "*gz"
            ],
            [
            path: { "${params.outdir}/fastq/md5" },
            mode: 'copy',
            pattern: "*.md5"
            ]
        ]
    }
    withName: 'FASTQSCAN' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/samples/${meta.id}/fastqscan" },
            pattern: "*.{json,txt,tsv}"
        ]
    }
    withName: 'FASTQC' {
        ext.args         = '--quiet'
        ext.when         = {  }
        ext.prefix       = { "${meta.id}.raw" }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/qc/samples/${meta.id}/fastqc" },
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SEQKIT_PAIR' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: "${params.save_debug}",
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/samples/${meta.id}/seqkit_pair" },
            pattern: "*.fastq.gz"
        ]
    }
    withName: 'FAQCS' {
        ext.args         = { "--debug" }
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/qc/samples/${meta.id}/faqcs" },
            pattern: "*.{fastq.gz,txt,pdf}"
        ]
    }
    withName: 'TRIMMOMATIC' {
        ext.args2        = 'SLIDINGWINDOW:4:30 MINLEN:75'
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/samples/${meta.id}/trimmomatic" },
            pattern: "*.{fastq.gz,summary}"
        ]
    }
    withName: 'QC_REPORT' {
        ext.args         = { "" }
        ext.when         = {  }
        publishDir       = [
            enabled: "${params.save_debug}",
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/qc/samples/${meta.id}/qc_report" },
            pattern: "*.{txt}"
        ]
    }
    withName: 'QC_REPORTSHEET' {
        ext.when         = {  }
        publishDir       = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/qc/qc_report" },
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'NCBISCRUB' {
        ext.args         = { "--debug" }
        ext.when         = {  }
        publishDir       = [
            enabled: "${params.save_debug}",
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/samples/${meta.id}/Human_Read_Scrubber" },
            pattern: "*.{dehosted.fastq.gz}"
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
